.main-container {
    overflow: hidden;
    margin: auto;
    border: thin solid silver;
    box-shadow: 0px 10px 50px rgba(128, 128, 128, 0.7);
    width: 75%;
    height: auto;
    color: black;
}

/*tabs*/
.tabs {
    height: 30px;
    margin-top: 10px;
    border-bottom: silver solid thin;
}

.tab {
    color: #008000;
    font-weight: bold;
    font-family: Arial, serif;
    height: 30px;
    margin-top: 10px;
    width: 100px;
    margin-left: 20px;
    border-bottom: thin solid #008000;text-align: center;
}

/*operations*/
.button {
    color: white;
    font-family: Arial, serif;
    background: #008000;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;

}

/*confirmation*/
.button-cancel {
    float: right;
    color: grey;
    text-align: center;
    font-family: Arial, serif;
    background: white;
    border: silver solid thin;
    width: 80px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
}

.button-ok {
    float: right;
    color: white;
    text-align: center;
    font-family: Arial, serif;
    background: #008000;
    border: none;
    width: 80px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
}

.button-remove {
    float: left;
    color: white;
    text-align: center;
    font-family: Arial, serif;
    background: red;
    border: none;
    width: 100px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
}

/*table chart and table info*/
.tables {
    overflow: hidden;
    color: black;
    font-family: Arial, serif;
    border: thin solid black;
    margin: 20px;
}

.sub-title {
    overflow: hidden;
    color: black;
    font-family: Arial, serif;
    border-bottom: thin solid silver;

}

.sub-title h3 {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.sub-title button {
    float: right;
    background: none;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
}


.table-info {
    overflow: hidden;
    align-items: center;
}

.text-line  {
    overflow: hidden;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.static-text {
    float: left;
    margin-right: 20px;
}

.text-line {
    overflow: hidden;
    margin-left: 20px;
    margin-down: 20px;
    align-items: center;
}

.input-icon {
    float: left;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 14px;
    align-items: center;
}

.text-col {
    float: left;
    align-content: center;
}

.input-box {
    width: 50px;
}

.span-style {
    line-height: 50px;
    align-content: center;
    margin-right: 20px;
}





